* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  position: relative;
  min-height: 100vh;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

footer{
      display: flex;
      width: 100%;
      padding: 2rem;
      min-height: 10vh;
      align-items: center;
      flex-wrap: wrap;
      margin: auto;
      background: #00a8c7;
      justify-content: center;
      position: absolute;
      bottom: 0;
      

}

.welkom{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 500%;
        color: white;        
}

.Background{
            background-image: url(img/background.png);
}

.achtergrond{
             background-image: url(img/background.jpeg);
}

.tekst{
        color: white;
}

.titel{
        color: white;
}

h1{
    text-align: center;
    font-size: 350%;
    font-weight: bold;
}

h2{
  text-align: center;
}

.h2{
    color: white;
    text-align: center;
  }
  
.flexbox{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: nowrap;
        padding-left: 20%;
        padding-right: 20%;
        font-size: 200%;
        margin: 5%;
        
}       

.dropdown-content {
  display: none;
  position: absolute ;
  background-color: white;
  min-width: 20vw;
  z-index: 1;
  flex-direction: column;
  opacity: 0;
  transition:opacity 200ms ease-in-out;
  
}

.dropdown-content a {
  color: #00a8c7;
  display: flex;
  text-align: left;
  padding: 0.5rem 0.5rem;
  
}

.dropdown:hover .dropdown-content {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.dropdown:hover .dropbtn {
  display: flex;
  color: #00a8c7;
  background-color: white;
}

.dropdownitem:hover {
  background-color: #E9E9E9;

}

.jaar1 {
padding: 20px;
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 30px
}

.jaar1 :before {
  content: '\25a0';
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 0px;
  
}